*{
    font-family: lato;
}

/*-------------------------article-----------------------*/
section.about-us{
    margin-top: 3em;
    
  }
  .title{
    text-align: center;
    width: 50%;
    margin: 0 auto 25px auto;
    padding: 1em;
    border-bottom: 2px solid rgb(127, 85, 57, .4);
  
  }
  
  .lanostrahistoria{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 50% auto;
    width: 80%;  
    margin: 0 auto;
    /* display:flex; */
    text-align:justify;
    /* align-items:center; */
    /* justify-content: space-between; */
  }
  
  .img-about{
    width:100%;
    
    /* margin-top: 35px; */
  
    }
  .img-aboutt{
    width: 100%;
    
  }
  .descripcio-about{
    line-height: 1.5em;
    width: 95%;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
  }
  /* .descripcio-about h2{
    border-bottom: 1px  solid #000;
    padding: 1em;
  } */
  #desplegar{
    display: none;
  }
  #mes, #menys{
    text-decoration: none;
  }